#site {
    display: grid;
}
#posterSerie {
    text-align: center;
    
}

#posterss {
    text-align: center;
    
}

#fotosAtores {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
